.borda {
    border: 2px solid red;
}

header {
    margin: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 15vh;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#principal {
    display: flex;
    flex: 1;
    height: 85vh;
}

#map {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
}

#painel {
    top: 15vh;
    right: 0;
    padding: 10px;
    width: 100px;
    height: 85vh;
    background-color: #ffffff;
    border-left: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#itens-painel {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(150, 150, 150);
    transition: 0.5s;
}

.botao-item .material-symbols-outlined {
    font-size: 40px;
    transition: 0.5s;
}

.botao-item .material-symbols-outlined:hover {
    color: #000000;
    font-size: 70px;
}

.janela {
    display: none;
    /*display: flex;*/
    flex-direction: column  ;
    position: fixed;
    top: calc(15vh + 10px);
    right: 110px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 25vw;
}

.titulo-janela {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

.titulo-janela .material-symbols-outlined {
    color: #000000;
    font-size: 40px;
}

.texto-titulo-janela {
    font-size: 25px;
    padding-left: 10px;
}

.botao-fechar {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}

.botao-fechar .material-symbols-outlined {
    font-size: 20px;
}

.conteudo-janela {

}
