body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: #ffffff;
    background-color: #505050;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: #000000;
    background-color: #095dbd;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background-color: #004ca3;
}

.close {
    display: none !important;
}

.side-panel {
    display: none;
    width: flex;
    max-width: 30vw;
    flex-shrink: 0;
    padding: 20px;
    color: #000000;
    background: #1182ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .open {
    display: none !important;
}

.side-panel-open .close {
    display: initial !important;
}