body {
    margin: 0;
    font-family: sans-serif;
    background-color: #505050;
    color: #ffffff;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

.side-panel-toggle {
    width: 30px;
    height: 60px;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    color: #000000;
}

.side-panel-toggle:hover {
    background-color: #bbbbbb;
}

.close {
    display: none;
}

.side-panel {
    display: none;
    min-width: 20vw;
    max-width: 30vw;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-left: 1px solid #000000;
}

.wrapper.side-panel-open .side-panel {
    display: block;
}

.wrapper.side-panel-open .open {
    display: none;
}

.wrapper.side-panel-open .close {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tab-link {
    font-family: sans-serif;
    font-size: 15px;
    color: #555555;
    border: none;
    cursor: pointer;
    background: none;
    border-bottom: 1px solid #000000;
}

.tab-link.active {
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #000000;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}