#painel {
    top: 15vh;
    left: 0;
    padding: 10px;
    width: 100px;
    height: 85vh;
    background-color: #ffffff;
    border-right: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#itens-painel {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(150, 150, 150);
}

.botao-item .material-symbols-outlined {
    font-size: 40px;
    transition: 0.3s;
}

.botao-item .material-symbols-outlined:hover {
    color: #000000;
    font-size: 70px;
}

.botao-item .material-symbols-outlined.active {
    color: #000000;
    font-size: 70px;
}

.janela {
    display: none;
    flex-direction: column  ;
    position: fixed;
    top: calc(15vh + 10px);
    left: 110px;
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.1);
    max-width: 50vw;
    max-height: calc(85vh - 20px);
    padding: 5px 15px 5px 5px ;
    font-size: 12px;
    font-family: sans-serif;
}

.titulo-janela {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #303030;
}

.titulo-janela .material-symbols-outlined {
    color: #000000;
    font-size: 35px;
}

.texto-titulo-janela {
    color: #000000;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 5px;
    font-weight: bold;
}

.botao-fechar {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}

.botao-fechar .material-symbols-outlined {
    color: rgb(150, 150, 150);
    font-size: 20px;
    transition: 0.1s;
}

.botao-fechar .material-symbols-outlined:hover {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.conteudo-janela {
    max-height: calc(75vh - 20px);
    overflow: auto;
    padding-right: 10px;
}

.conteudo-janela::-webkit-scrollbar {
    width: 5px;
}

.conteudo-janela::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.conteudo-janela::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.conteudo-janela::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 500px) {
    #painel {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        padding: 5px;
        border-top: 1px solid #000000;
        border-right: none;
        border-bottom: none;
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ffffff;
        align-items: flex-end;
    }

    #map {
        flex: 1;
        height: calc(100vh - 15vh - 50px);
        box-sizing: border-box;
    }

    #itens-painel {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: flex-end;
    }

    .botao-item .material-symbols-outlined {
        font-size: 30px;
    }

    .botao-item .material-symbols-outlined:hover {
        font-size: 40px;
    }

    .botao-item .material-symbols-outlined.active {
        font-size: 40px;
    }

    .janela {
        display: none;
        flex-direction: column  ;
        position: fixed;
        top: calc(15vh + 10px);
        left: 10px;
        background-color: #ffffff;
        border: 1px solid #000000;
        box-shadow: -5px 5px 10px rgba(0,0,0,0.1);
        max-width: 75vw;
        max-height: 70vh;
        padding: 5px 15px 5px 5px ;
        font-size: 12px;
        font-family: sans-serif;
    }

    .conteudo-janela {
        max-height: 60vh;
        overflow: auto;
        padding-right: 10px;
    }
}